body {
    background-color: #282a36;
    /* Dark background */
    color: #f8f8f2;
    /* Light text */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

h1 {
    color: #bd93f9;
    /* Purple color */
}

.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    height: max-content;
}

.link {
    display: block;
    background-color: #44475a;
    /* Darker background for links */
    color: #50fa7b;
    /* Green text */
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.link:hover {
    background-color: #6272a4;
    /* Purple background on hover */
    color: #8be9fd;
    /* Blue text on hover */
}

/* Media Queries */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        height: auto;
    }

    img {
        width: 80px;
        height: 80px;
        margin: 10px;
    }

    .container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .link {
        padding: 10px;
        margin: 5px 0;
    }
}